.card {
    width: 194px;
    background: #ffffff;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    animation: fadeIn ease 3s;    
    div {
      font-family: "roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #6e6e73;
    }
    .photo {
      text-align: center;
    }

    .text {
      padding: 8px 16px 8px 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
    }
   
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }